body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bg2.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stopwatch {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50%;
    padding: 40px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    color: #673AB7; 
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    background-color: #9C27B0; 
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7B1FA2; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

li {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #673AB7; 
    font-size: 1.2em;
}
